@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

input::file-selector-button {
    color: black;
    background-color: rgb(239, 237, 234);
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

input::file-selector-button:hover {
    background-color: rgb(216, 216, 216);
}


.text {
    font-family: 'Open Sans', sans-serif;
}

.pointer {
    cursor: pointer;
}

#root {
    height:100%
}

a {
    text-decoration: none;
    color: black;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.justCenter {
    justify-content: center;
}

.justEnd {
    justify-content: flex-end;
}

.justEven {
    justify-content: space-evenly;
}

.justAround {
    justify-content: space-around;
}

.justSpace {
    justify-content: space-between;
}

.justEnd {
    justify-content: flex-end;
}

.alignCenter {
    align-items: center;
}

.noBullets {
    list-style-type: none;
}

.height48 {
    height: 48px;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.logoText {
    font-weight: 700;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
}

.widthFull {
    width: 100%;
}

.heightFull {
    height: 100%;
}

.heightCreate {
    height: 390px;
}

.heightUpload {
    height: 160px;
}


.width75 {
    width: 68%;
    max-width: 750px;
}


.sign {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
    width: 60px;
    height: 48px;
    cursor: pointer;
}

.sign:hover {
    background-color: rgba(211, 211, 211, 0.393);
}

.widthFit {
    width: fit-content;
}

.width150 {
    width: 160px;
}

.pagePad {
    padding-left: 250px;
}

.menu {
    padding-left: 0px;
    width: 200px;
    height: 100%;
    min-height: 100%;
    border: solid rgb(239, 237, 234) 2px;
    background-color: rgb(239, 237, 234);
}

.menuPadding {
    padding-left: 30px;
    padding-top: 30px;
}

.menuButton {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

.menuButton2 {
    background-color: rgba(255, 255, 255, 0);
    height: 27px;
    width: 27px;
    border: none;
}

.menuButton2:hover {
    background-color: lightgrey;
}


.fixed {
    position:fixed
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.whiteBack {
    background-color: white;
}


.folderPic {
    height: 30px;
    width: 40px;
    padding-right: 10px;
}

.filePic {
    height: 40px;
    width: 40px;
    padding-right: 10px;
}


.fileMenu {
    height: 100px;
    width: 50px;
    border: solid black 2px;
    position: absolute;
}

.filesPadding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.headerPadding {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid black 1px;
}

.star {
    font-size: 10px;
    color: goldenrod;
}

.ellipsis {
    font-size: 20px;
}

.fileHover:hover {
    background-color: rgb(239, 237, 234);
}

.folderBarPadding {
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid black 1px;
}

.zIndex {
    z-index: 100;
}

.testtest {
    flex-grow: 1;
    height: 30px;
}

.grow {
    flex-grow: 1;
    width: 2px
}

.plainBorder {
    border-bottom: solid black 1px;
}

.plainBorderTop {
    border-top: solid black 1px;
}


.uploadIcon {
    color: white;
}

.uploadButton {
    background-color: #0061FE;
    border: none;
    width: 110px;
    height: 30px;
    margin-right: 20px;
}

.uploadButton:hover {
    background-color: #0052d6;
}

.font {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
}

.fontHead {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 200;
}

.fontHead2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding: 0;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fontHead3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 200;
    color: white;
    text-align: center;
}

.fontHead4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white;
    text-align: center;
}

.createIcon {
    color: black;
    font-weight: 3000;
}

.createButton {
    background-color: rgb(239, 237, 234);
    border: none;
    width: 110px;
    height: 30px;
}

.createButton2 {
    background-color: rgb(239, 237, 234);
    border: none;
    width: 70px;
    height: 30px;
}

.loginButton {
    background-color: #0070E0;
    border: none;
    width: 70px;
    height: 30px;
    color: white;
    border-radius: 3px;
}

.loginButton:hover {
    background-color: #0061FE;
}

.createButton2:hover {
    background-color: rgb(216, 216, 216);
}

.createButton:hover {
    background-color: rgb(216, 216, 216);
}


.dropDownIcon {
    color: black;
    font-weight: 3000;
}

.dropDownButton {
    background-color: rgb(239, 237, 234);
    border: none;
}

.dropDownButton:hover {
    background-color: rgb(216, 216, 216);
}

.leftPad {
    padding-left: 15px;
}

.rightPad {
    padding-right: 15px;
}

.fullPad {
    padding: 20px;
}

.formContainer {
    height: 500px;
    width: 500px;
}


.inputsPadding {
    padding-top: 15px;
    padding-bottom: 5px;
}

.removeFiles {
    border: solid black 1px;
    padding: 3px;
    height: 80px;
    overflow-y: scroll;

}

.removePadding {
    padding: 3px;
    border-bottom: 1px solid lightgrey;
}

.xmark:hover {
    color: red;
}

.checkMark:hover {
    color: green;
}


.heightEdit {
    height: 50px;
}

.bottomMargin {
    margin-bottom: 1px;
}

.splashBack {
    background-color: #1E1919;
    height: 95%;
}

.splashBack2 {
    width: 65%;
    max-width: 750px;
}

.homePage {
    width: 70%;
    max-height: 567px;
}

.signIn {
    width:340px;

}

.signInPad {
    padding-top: 100px;
}

.signInInput {
    height: 25px;
    font-size: 14px;
}

.marginRight {
    margin-right: 15px;
}

.paddingTop {
    padding-top: 15px;
}
